<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">

		<a class="navbar-brand">ngEvents</a>



		<div class="collapse navbar-collapse justify-content-between">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" routerLink="/events">All Events</a>
				</li>
				<li class="nav-item"><a routerLink="/events/new" class="nav-link" href="">Create Event</a></li>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
						Events
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="">Angular Connect</a>
						</li>
					</ul>
				</li>
			</ul>


			<form id="searchForm" class="form-inline my-2 my-lg-0t">
				<span class="navbar-text">
			  <a>Welcome John</a>
			</span>
				<input
            type="text"
            class="form-control ml-3"
            placeholder="Search Sessions"
          />

				<button class="btn btn-default">
          Search
        </button>
			</form>
		</div>
	</div>
</nav>